html{
    background-color: rgb(0, 0, 0);
}
h1{
    font-size: 7rem;
    color: #ffffff;
    font-family: "Arvo", cursive;
    text-shadow: 3px 0 #935430;
    text-align: center;
}
.container{
    text-align: center;
    margin-top: 10%;
}
.piano{
    outline: none;
    border: 8px solid #8d8a8a;
    font-size: 5rem;
    font-family: 'Arvo', cursive;
    line-height: 2;
    font-weight: 900;
    color: #8c4f2d;
    text-shadow: 3px 0 #dbedf3;
    border-radius: 1px;
    display: inline-block;
    width: 160px;
    height: 450px;
    text-align: center;
    margin: 10px;
    background-color: #ffffff;
}